
/build/
/m4/
*~
*.o
*.a
*.lo
*.la
*.log
*.pyc
*.pc
*.exe
*.gcov
*.gcda
*.gcno
*.stackdump
*.trs
*.c.*r.*
.autotools
.libs
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
confdefs.h
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1

# specific
bin/handlebarsc
bin/handlebarsc.exe
doc/Doxyfile
doc/html
handlebars_c_test.info
nbproject
output.log
src/handlebars_config.h
src/handlebars.lex.*
src/handlebars.tab.*
tests/test_spec_handlebars_tokenizer
tests/test_context
tests/test_token
tests/test_token_list
tests/test_token_printer
tests/test_utils
test_coverage

# distros
*.tar.gz
*.tgz
*.tar
*.zip

# eclipse
.cproject
.project
.settings
