language: c

sudo: required

dist: xenial

env:
  global:
    - ARCH="amd64"
    - COVERAGE="true"

  matrix:
    - MYCC="gcc-4.9"
    - MYCC="gcc-5"
    - MYCC="gcc-6"
    - MYCC="gcc-7"
    - MYCC="gcc-8"
    - MYCC="gcc-9"
    - MYCC="gcc-5"
      ARCH="i386"
      CFLAGS="-m32"
      COVERAGE="false"
    - MYCC="clang-3.8"
      COVERAGE="false"
    - MYCC="gcc-9"
      COVERAGE="false"
      HARDENING="true"

branches:
  only:
    - master
    - travis

before_install: travis_retry sudo ./.travis.sh before_install
install: travis_retry sudo ./.travis.sh install
before_script: sudo ./.travis.sh before_script
script: sudo ./.travis.sh script
after_success: travis_retry sudo ./.travis.sh after_success
after_failure: travis_retry sudo ./.travis.sh after_failure
