name: linux

on:
  push:
    branches:
    - master
    - github-actions
  pull_request:
    branches:
    - master

jobs:
  build_linux_autotools_default_args:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Checkout submodules
      uses: textbook/git-checkout-submodule-action@master
    - name: Install packages
      run: sudo apt-get install -y autotools-dev autoconf automake libtool m4 make pkg-config check libpcre3-dev libtalloc-dev libsubunit-dev lcov libjson-c-dev liblmdb-dev libyaml-dev
    - name: create configure
      run: autoreconf -i
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
